<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
<!--  <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>-->
</head>
<body style="border: #00285A">
<header th:fragment="header" style=" padding: 10px;"> <!-- Thêm màu nền và padding -->
  <h3  style="padding-bottom: 10px; color: #00285A">Now Feeds</h3>

  <div class="header-container"> <!-- Thêm div container -->
    <div class="header-icons">
      <a th:href="@{/newsfeed}" class="icon" id="home-icon">
        <img src="#" th:src="@{/Image/home.png}" alt="Home">
      </a>
      <a th:href="@{/messages}" class="icon" id="messages-icon">
        <img src="#" th:src="@{/Image/message.png}" alt="Messages">
      </a>
      <a th:href="@{/newsfeed}" class="icon" id="notifications-icon">
        <img src="#" th:src="@{/Image/noti.png}" alt="Notifications">
      </a>
      <a th:href="@{/users}" class="icon" id="settings-icon">
        <img src="#" th:src="@{/Image/setting.png}" alt="Settings">
      </a>
      <a th:href="@{/search}" class="icon" id="search-icon">
        <img src="#" th:src="@{/Image/search.png}" alt="Search">
      </a>
    </div>

    <div class="header-username" style="display: flex; align-items: center;"> <!-- Sử dụng inline flexbox -->
      <div style="display: flex; align-items: center;"> <!-- Thêm div để căn giữa avatar -->
        <img src="#" th:src="@{/Image/profile.png}" alt="User Avatar" class="avatar-img" style="width: 40px; height: 40px; border-radius: 50%; margin-right: 10px;"/> <!-- Áp dụng kiểu inline -->
      </div>
      <span style="color: black; padding-right: 20px;" th:text="${usn}"></span>

      <div class="dropdown-content">
        <a href="/profile">Profile</a>
        <a href="#" onclick="confirmLogout(event)">Logout</a>
      </div>
    </div>
  </div> <!-- Kết thúc div container -->

  <script>
    const usernameMenu = document.querySelector('.header-username');
    const dropdownContent = usernameMenu.querySelector('.dropdown-content');

    usernameMenu.addEventListener('click', function(event) {
      event.stopPropagation();
      const isVisible = dropdownContent.style.display === 'block';
      dropdownContent.style.display = isVisible ? 'none' : 'block';
    });

    document.addEventListener('click', function(event) {
      if (!usernameMenu.contains(event.target)) {
        dropdownContent.style.display = 'none';
      }
    });

    function confirmLogout(event) {
      var confirmed = confirm("Are you sure you want to logout?");
      if (confirmed) {
        window.location.href = "/users/logout";
      } else {
        event.preventDefault();
      }
    }
  </script>
</header>
</body>
</html>
