<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/message.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/head_cus.css}"/>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="container">
    <h2>Chat List</h2>
    <ul class="user-list">
        <li th:each="dto : ${usersWithMessages}">
            <p th:text="${dto.user.username}">User</p>
            <div class="details">
                <span th:text="${dto.lastMessage.content}">Last message here</span>
                <span th:text="${#dates.format(dto.lastMessage.timestamp, 'dd-MM-yyyy HH:mm')}">Timestamp</span>
            </div>
        </li>
    </ul>
</div>
</body>
</html>
